.container-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px 0;
  gap: 50px;
  text-align: center;
  color: #8a8fa3;
}

.container-conteudo{
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

#logo{
  margin: 0 auto;
}

.container-redes img{
  width: 35px;
  margin: 0 5px;
}

.link{
  text-decoration: none;
  color: #fcdc49;
  font-weight: 600;
}